<div id="header">
  <h2><a href="{{index}}">MLF2 Status {{source}}</a></h2>
  <div id="feeds">
    Atom feeds of
    <a href="{{feedPath}}">status messages</a> &amp;
    <a href="{{dataFeed}}">data files</a>.
      <p><a href="{{msglink}}">Message Center</a></p>
  </div>
</div>
