<script src="/mlf2db/_design/status/vendor/couchapp/json2.js"></script>
<script src="/mlf2db/_design/status/vendor/couchapp/jquery.js"></script>
<script src="/mlf2db/_design/status/vendor/couchapp/jquery.couch.js"></script>
<script src="/mlf2db/_design/status/vendor/couchapp/sha1.js"></script>
