  <table id="status">
    <tr><td class="label">Time:</td> <td>{{timestamp}}</td></tr>
    <tr>
      <td class="label">GPS:</td> 
      <td><span class="geo">
	      <span class="latitude">{{lat}}</span>/
	      <span class="longitude">{{lon}}</span>
	  </span> ({{nsat}})</td>
    </tr>
    <tr>
      <td class="label">Battery1/2:</td> 
      <td>{{v1}}v/{{v2}}v</td>
    </tr>
    <tr>
      <td class="label">Humidity:</td>
      <td>{{rh}}%</td>
    </tr>
    <tr>
      <td class="label">Internal pressure:</td>
      <td>{{ipr}} psi</td>
    </tr>
    <tr><td class="label">Piston error:</td><td>{{episton}}
    counts</td></tr>
    <tr><td class="label">Disk space:</td><td>{{dfree}} bytes</td></tr>
    <tr><td class="label">Alerts:</td><td class="alerts">{{alerts}}</td></tr>
  </table>
