<!DOCTYPE html>
<html>
  <head>
    {{>ui_style}}
    <link rel="stylesheet" href="{{assets}}/style/main.css" type="text/css">
    <title>MLF2 Data Files</title>
    <link rel="alternate" type="application/atom+xml"
      title="Atom Feed" href="{{feedPath}}"/>
    <style type="text/css">
        #filetable * td, #filetable * th {
            font-size: 80%;
            padding-left: 1em;
            padding-right: 1em;
        }
        #background {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000;
            border: 1px solid #cecece;
            z-index: 1;
        }
        #popup {
            display: none;
            position: fixed;
            width: 800px;
            height: 600px;
            background: #ffffff;
            border: 2px solid #cecece;
            z-index: 2;
            padding: 12px 16px;
        }
        #imagebox {
            background: #ffffff;
            opacity: 1;
        }
        #closebutton {
            font-size: 14;
            right: 6px;
            top: 4px;
            position: absolute;
            color: #6fa5fd;
            font-weight: 700;
            display: block;
        }
    </style>
  </head>
  <body>
    {{>header}}
    <p>
      The table below lists <a href="{{dataIndex}}">data files</a> from {{source}} in
      reverse chronological order.
    </p>
    <table id="filetable" class="ui-widget filegroup" border="0">
      <thead class="ui-widget-header">
	<tr>
	  <th>Float ID</th>
	  <th>Name</th>
	  <th>Start Time</th>
	  <th>End Time</th>
	  <th>Alternate Formats</th>
	</tr>
      </thead>
      <tbody class="ui.widget-content">
	{{#items}}
        <tr class="file">
	  <td><a href="{{{floatlink}}}">{{floatid}}</a></td>
          <td><a href="{{url}}">{{name}}</a></td>
          <td>{{d_start}}</td>
          <td>{{d_stop}}</td>
	  <td>
	  {{#alts}}
	  <a href="{{url}}" class="{{klass}}">{{text}}</a>
	  {{/alts}}
	  </td>
        </tr>
	{{/items}}
	<tbody>
    </table>
    <div class="paginate">
      <a href="{{older}}">older files</a>
      <a href="{{10}}">10</a>
      <a href="{{20}}">20</a>
      <a href="{{40}}">40</a>
    </div>
    <div id="background">
        <div id="popup">
            <a id="closebutton">CLOSE</a>
            <div id="imagebox"></div>
        </div>
    </div>
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
      function show_popup() {
          var winH = $('#background').height();
          var winW = $('#background').width();

          $('#background').fadeIn(1000);
          $('#background').fadeTo('slow', 0.9);
          $('#popup').css('top', (winH - $('#popup').height())/2);
          $('#popup').css('left', (winW - $('#popup').width())/2);
          $('#popup').fadeIn(1000);
          $('#popup').fadeTo('slow', 1);
      }

      $('a.plot').click(function(ev) {
          ev.preventDefault();
          var src = $(this).attr('href');
          var img = new Image();
          $(img).load(function(){
              $('#imagebox').append(this);
              $('#closebutton').click(function(ev){
                  ev.preventDefault();
                  $('#background, #popup').hide();
                  $('#imagebox').empty();
              });
              $(document).keydown(function(ev){
                  if (ev.keyCode == 27) {
                      ev.preventDefault();
                      $('#background, #popup').hide();
                      $('#imagebox').empty();
                  }
              });
              show_popup();
          }).attr('src', src);
      });


  </script>
</html>
