<!DOCTYPE html>
<html>
  <head>
    {{>ui_style}}
    <link rel="stylesheet" href="{{assets}}/style/main.css" type="text/css">
    <style type="text/css">
#left-col {
      float: left;
      width: 30%;
}
#right-col {
      margin-left: 35%;
      width: 60%;
}
#right-col img {
      position: relative;
      vertical-align: top;
      margin-top: -2em;
      z-index: 1;
}

#map_header {
      font-size: 80%;
}

#map_canvas {
       border: 2px solid #000;
       width: 600px;
       height: 450px;
}

#status {
      padding-left: 1em;
      font-size: medium;
      vertical-align: top;
      padding-top: 2em;
}

.label {
      font-weight: bold;
      color: #003366;
      padding-right: 1em;
      padding-left: 1em;
      clear: both;
      text-align: right;
}

#plottitle {
      position: relative;
      font-weight: bold;
      color: #003366;
      text-align: center;
      z-index: 2;
}

.ui-helper-clearfix:after {
     display: inline-block !important;
}

    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNbxQAJMO1RQd_LSx7c8yoipGYRsi0nEA">
    </script>

    <title>Float {{floatid}} Status</title>
  </head>
  <body onload="initialize()">
    {{>header}}
    <div id="left-col">
      {{>status}}
      <p><a href="{{{file_url}}">Recent data files</a></p>
    </div>
    <div id="right-col">
      <div id="tabs">
	<ul>
	  <li>
	    <a href="#tab-1"><span>Map</span></a>
	  </li>
	  <li>
	    <a href="#tab-2"><span>Data Plot</span></a>
	  </li>
	</ul>
	<div id="tab-1">
	  <p id="map_header"><a href="{{track_url}}">Track</a> from {{dstart}} until {{dstop}}</p>
	  <div id="map_canvas"></div>
	</div>
	<div id="tab-2">
	  <h3 id="plottitle"></h3>
	  <div id="plot_canvas"></div>
	</div>
      </div>
    </div>
  </body>
  {{>scripts}}
  <script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      function load_map() {
          var latlng = new google.maps.LatLng({{lat}}, {{lon}});
          var myOptions = {
                            zoom: 12,
                            center: latlng,
                            mapTypeId: google.maps.MapTypeId.HYBRID
                          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
                                        myOptions);
          var floatLayer = new google.maps.KmlLayer("{{{track_url}}}");
          floatLayer.setMap(map);
          var histLayer = new google.maps.KmlLayer("{{{history_url}}}");
          histLayer.setMap(map);
          var floatMarker = new google.maps.Marker({position: latlng,
                                                    map: map,
                                                    icon: "{{{iconurl}}}",
                                                    zIndex: 10});
      }

      function load_plot() {
          var db = $.couch.db('mlf2db');
          db.list('status/plots', 'ql', {
              descending: true,
              limit: 1,
              startkey: [{{floatid}}, '{{{dstop}}}'],
              endkey: [{{floatid}}, '{{{dstart}}}'],
              success: function(result) {
                      var img = $('<img>');
                      var title = $('#plottitle');
                      title.hide();
                      title.text(result[0].d_start+' - '+result[0].d_stop);

                      img.hide();
                      img.load(function() {
                          $(this).fadeIn();
                          title.fadeIn();
                       });
                      $('#plot_canvas').append(img);
                      img.attr('src', result[0].url);
                  }
              });
      }

      function initialize() {
          $(document).ready(function() {
              $("#tabs").tabs();
          });
          load_map();
          load_plot();
      }
  </script>
</html>
