<!DOCTYPE html>
<html>
    <head>
        {{>ui_style}}
        <link rel="stylesheet" href="{{assets}}/style/main.css" type="text/css">
        <title>MLF2 Status Messages</title>
        <link rel="alternate" type="application/atom+xml"
              title="Atom Feed" href="{{feedPath}}"/>
        <style type="text/css">
            #filetable * td, #filetable * th {
                font-size: 80%;
                padding-left: 1em;
                padding-right: 1em;
            }
            #floats * td, #floats * th {
                font-size: 80%;
                padding-left: 1em;
                padding-right: 1em;
            }

        </style>
    </head>
    <body>
    {{>header}}
        <div id="items">
            <p>
                The table below lists the most <a href="{{indexPath}}">recent status
                messages</a> from all floats in
                reverse chronological order. Clicking on a timestamp will display a more
                detailed view of the status data. Clicking on a float-id will restrict
                the display to that float only.
            </p>
            <table id="filetable" class="ui-widget filegroup" border="0">
                <thead class="ui-widget-header">
                <tr>
                    <th>Float ID</th>
                    <th>Time</th>
                    <th>Position</th>
                    <th>State</th>
                </tr>
                </thead>
                <tbody class="ui.widget-content">
                {{#items}}
                <tr class="file">
                    <td><a href="{{floatlink}}">{{floatid}}</a></td>
                    <td><a href="{{url}}">{{timestamp}}</a></td>
                    <td>{{position}}</td>
                    <td>{{state}}</td>
                </tr>
                {{/items}}
                <tbody>
            </table>
            <div class="paginate">
                <a href="{{older}}">older status</a>
                <a href="{{10}}">10</a>
                <a href="{{20}}">20</a>
                <a href="{{40}}">40</a>
            </div>
        </div>

        <div id="sidebar">
            <h3>Active Floats</h3>
            <table id="floats" border="0">
                <thead>
                <tr>
                    <th>Float ID</th>
                    <th>Last Login</th>
                </tr>
                </thead>
                <tbody id="list">
                </tbody>
            </table>
            <h3 class="small">Deployment KML Files</h3>
            <ul class="small" id="deployments"></ul>
        </div>
    </body>
    {{>scripts}}
    <script src="{{assets}}/vendor/couchapp/jquery.couch.app.js"></script>
    <script src="{{assets}}/vendor/couchapp/jquery.couch.app.util.js"></script>
    <script src="{{assets}}/vendor/couchapp/jquery.evently.js"></script>
    <script src="{{assets}}/vendor/couchapp/jquery.mustache.js"></script>
    <script type="text/javascript" charset="utf-8">
        $.couch.app(function() {
            $("#list").evently(this.ddoc.evently.list, this);
            $("#deployments").evently(this.ddoc.evently.deployments, this);
        }, {db: "{{db}}", design: "{{design}}"});
    </script>
</html>
