/* add styles here */

body {
  font:1.2em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  padding:6px;
  margin:0;
  line-height:1.2em;
}

h2 {
  padding:0;
  margin:0;
  line-height:1em;
  font-size:112%;
}

#header h2 {
  text-shadow: 0 0 4px #000;    
}

#header h2 a {
  color:#fff;
}

#header {
  background:#f49965;
  padding:8px;
  border-bottom: 1em solid #ffbc61;
}

#account {
  float:right;
}

#feeds {
  font-size:0.6em;
  text-shadow: #fff 0 0 4px;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#items {
  border:4px solid #ddf;
  background:#def;
  padding:8px;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

.paginate {
  text-align:center;
  display:block;
  width:100%;
  font-size:80%;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#items ul {
  list-style: none;
}

#items table thead {
  background:#c5f2f9;
}

#sidebar table thead {
  background:#c5f2f9;
}

.small {
    font-size:80%;
}
